
html{
    margin: 0 auto;
    padding: 0 auto;
    height: 100%;
    background:white;
}

body{
    background: pink;
    width: 90%;
    min-width:600px;
    max-width: 1000px;
    margin: 0 auto;
    position:relative;
    min-height:100%;
    text-align:center;
    font-family:arial;
}

/*====================================================================
 * ============================== HEADER =============================
 =====================================================================*/

header{
    background:silver;
    border: solid black 1px;
    border-radius: 0px 0px 15px 15px;
}

h1{
    text-align: center;
    color: white;
    text-shadow: black 8px 8px 10px;
}


/*====================================================================
 * ============================== SECTION ============================
 =====================================================================*/

#navig{
    float:right;
    margin-right: 25px;
}

section{
    padding-top: 3em;
    margin: auto;
    padding-bottom: 4em;
}

a{
    color: black;
    background: white;
    text-decoration:none;
    border: solid black 2px;
    border-radius: 10px;
    padding:4px;
}

a:hover{
    color: white;
    text-decoration:underline;
    background:black;
    border-color:white;
}

p{
    
}

p:first-letter{
    color: red;
    font-size:2em;
}

/*====================================================================
 * ================================ FOOTER ===========================
 =====================================================================*/

footer{
    position: absolute;
    bottom:0;
    background:silver;
    border: solid black 1px;
    border-radius: 15px 15px 0 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    box-sizing: border-box;
}

