
html{
    margin: 0 auto;
    padding: 0 auto;
    height: 100%;
    background:white;
}

body{
    background: pink;
    width: 90%;
    min-width:600px;
    max-width: 1000px;
    margin: 0 auto;
    position:relative;
    height:100%;
}

/*====================================================================
 * ============================== HEADER =============================
 =====================================================================*/

header{
    background:silver;
    border: solid black 1px;
    border-radius: 0px 0px 15px 15px;
}

h1{
    text-align: center;
    color: white;
    text-shadow: black 8px 8px 10px;
}

/*====================================================================
 * ============================== SECTION ============================
 =====================================================================*/

section{
    margin-top: 3em;
}

form {	
	display: block;
	width: 580px;
	padding:5px;
	margin-left: auto;
	margin-right: auto;
	border:1px solid #C0C0C0;
	background-color: #CCCCCC;
    box-shadow: white 12px 12px 20px;
}

div.spacer {
	clear: both;
    margin-bottom:3px;
}

div.center {
	display: block;
	width:100%;
	text-align: center;
}

label {	
	float: left;
	width: 200px;
	margin: 5px;
}

label:first-letter {	
	text-transform: capitalize;
}

input {
	width: 240px;
	margin: 5px;
}

input.submit {
	width: 150px;
	margin-left: auto;
	margin-right: auto;	
}


div#messages {
	float:right;
	background-color: #F0F0F0;
	border:1px solid #C0C0C0;
	width:300px;
}

.hidden{
    display: none;
}

.visible{
    display: block;
}

/*=============================================
 * ============= force mot de passe ===========
 ==============================================*/

#weak, #medium{
    border-right:solid 1px #DEDEDE;
}

#passStrength{
    font-size:0.8em;
    margin:0px;
    padding:0px;
    height:14px;
    font-family:Tahoma, Arial, sans-serif;
}

#passStrength ul{
    border:0px;
    margin:0px;
    padding:0px;
    list-style-type:none;
    text-align:center;
}

#passStrength ul li{
    display:inline-block;
    text-align:center;
    padding:0px 0px 0px 0px;
    margin:0px;
    height:14px;
}

.nrm{
    width:84px;
    color:#adadad;
    text-align:center;
    padding:2px;
    background-color:#F1F1F1;
    display:block;
    vertical-align:middle;
}

.red{
    width:84px;
    color:#FFFFFF;
    text-align:center;
    padding:2px;
    background-color:#FF6F6F;
    display:block;
    vertical-align:middle;
}

.yellow{
    width:84px;
    color:#FFFFFF;
    text-align:center;
    padding:2px;
    background-color:#FDB14D;
    display:block;
    vertical-align:middle;
}

.green{
    width:84px;
    color:#FFFFFF;
    text-align:center;
    padding:2px;
    background-color:#A0DA54;
    display:block;
    vertical-align:middle;
}

/*=========================================
 ==========================================*/


.error {
    position: absolute;
    font: normal 11px arial;
    padding: 3px;
    margin: 5px;
    background-color: rgba(255,255,204,0.85);
    border: 1px solid #c00;
    border-radius: 4px;
}
/*
.error:before
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 8px;
    top: 19px;
    border: 4px solid;
    border-color: #fff transparent transparent #fff;
}*/

.error:after
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 8px;
    top: 19px;
    border: 5px solid;
    border-color: #c00 transparent transparent #c00;
}


/*====================================================================
 * ================================ FOOTER ===========================
 =====================================================================*/

footer{
    position: absolute;
    bottom:0;
    background:silver;
    border: solid black 1px;
    border-radius: 15px 15px 0 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    box-sizing: border-box;
}
